.cftf-form-conatiner {
  background-color: white;
  text-align: left;
  font-size: 16px;

  // .cft-form-button {
  //   background-color: #1a5a96;
  //   border: #38598a !important;
  //   color: white !important;
  // }

  .bg-default {
    background-color: #38598a !important;
    border: #38598a !important;
    color: white !important;
  }

  .cft-form-list-paginate {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .cft-not-selected {
    border: 3px solid #b3b3b3;
    padding: 10px;
    color: #b3b3b3;
    width: 98%;
    margin-bottom: 2%;
  }

}

.cft-form-submission {
  background-color: white;
  text-align: left;
  font-size: 16px;
  font-family: Nunito Sans, SemiBold;

  .bg-default {
    background-color: #38598a !important;
    border: #38598a !important;
    color: white !important;
  }
}

.cft-form-list-paginate {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

//TODO Remove this when Semantic UI css is removed. Semantic UI css override formio css tooltip

[data-tooltip]:before {
  visibility: unset !important;
  position: initial !important;
  box-shadow: none !important;
  opacity: 1 !important;
  cursor: pointer !important;
  // content is overiding as  empty string in integrated system,
  // below coded added to fix the issue in integrated system
  content: "\f059" !important;
  color: #2780e3;
}

[data-tooltip]:after {
  opacity: 0 !important;
}

.tooltip-inner {
  background-color: white !important;
  color: black !important;
  box-shadow: 1px 1px 1px 1px;
}

.cft-height {
  overflow: scroll !important;
  height: calc(100vh);
}

.cft-actionable-container .tab-content {
  overflow: hidden;
}

:root {
  --h100: 100px;
  --h120: 120px;
  --h140: 140px;
  --h160: 160px;
  --h180: 180px;
  --h200: 200px;
  --h220: 220px;
  --h240: 240px;
  --h260: 260px;
  --h280: 280px;
  --h300: 300px;
  --h320: 320px;
  --h340: 340px;
  --h360: 360px;
  --h380: 380px;
  --h400: 400px;
}

.cft-height-h100 {
  overflow: scroll !important;
  height: calc(100vh - var(--h100));
}

.cft-height-h120 {
  overflow: scroll !important;
  height: calc(100vh - var(--h120));
}

.cft-height-h140 {
  overflow: scroll !important;
  height: calc(100vh - var(--h140));
}

.cft-height-h160 {
  overflow: scroll !important;
  height: calc(100vh - var(--h160));
}

.cft-height-h180 {
  overflow: scroll !important;
  height: calc(100vh - var(--h180));
}

.cft-height-h200 {
  overflow: scroll !important;
  height: calc(100vh - var(--h200));
}

.cft-height-h220 {
  overflow: scroll !important;
  height: calc(100vh - var(--h220));
}

.cft-height-h240 {
  overflow: scroll !important;
  height: calc(100vh - var(--h240));
}

.cft-height-h260 {
  overflow: scroll !important;
  height: calc(100vh - var(--h260));
}

.cft-height-h280 {
  overflow: scroll !important;
  height: calc(100vh - var(--h280));
}

.cft-height-h300 {
  overflow: scroll !important;
  height: calc(100vh - var(--h300));
}

.cft-height-h320 {
  overflow: scroll !important;
  height: calc(100vh - var(--h320));
}

.cft-height-h340 {
  overflow: scroll !important;
  height: calc(100vh - var(--h340));
}

.cft-height-h360 {
  overflow: scroll !important;
  height: calc(100vh - var(--h360));
}

.cft-height-h380 {
  overflow: scroll !important;
  height: calc(100vh - var(--h380));
}

.cft-height-h400 {
  overflow: scroll !important;
  height: calc(100vh - var(--h400));
}